<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<%= link_to "Edit the task", edit_task_path() %>
<%= link_to "back to tasks", tasks_path() %>
<%= link_to "Delete",task_path(@task),data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
